html {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: inherit;
}
body {
  background: url(https://images.unsplash.com/photo-1541851953232-85d34a532663?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;

}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: 2.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  color: rgba(236, 236, 236, 0.938);
  text-align: center;
  background: rgba(26, 26, 26, 0.596);
  text-shadow: 0 0 .5rem black;
}

.playing {
  border-width: .4rem;
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.sound {
  text-transform: uppercase;
  color: #ffc600;
  font-size: 1.3rem;
}

kbd {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}


